<section class="post-comments">

  {% if site.comment.uyan %}
    <div id="gitmentContainer"></div>
	<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script>
	var gitment = new Gitment({
	    owner: 'MrWhatHuang',
	    repo: 'mrwhathuang.github.io',
	    oauth: {
	        client_id: '1c8b46f72b695a21fd85',
	        client_secret: '19fcd024902ef99865c2d35ea66bcc9361007b38',
	    },
	});
	gitment.render('gitmentContainer');
	</script>

  {% elsif site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };
    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    
  {% endif %}

</section>
